.main {
  padding: 32px 24px;
  position: relative;

  // .main__about-link
  &__about-link {
    margin-top: 32px;
  }
}

.preview {
  // .preview__background
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    height: 333px;
    z-index: -1;
    opacity: 0.8;
  }

  // .preview__background-blur-big
  &__background-blur-big {
    width: calc(100% + 118px);
    height: 100%;
    background: var(--gradient);
    top: -110px;
    left: -59px;
    position: absolute;
    filter: blur(80px);
    opacity: 0.8;
  }
  // .preview__info
  &__info {
    margin-top: 20px;
  }
}
.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // .preview-header__title
  &__title {
    font-weight: 600;
    font-size: 23.61px;
  }
  // .preview-header__coins
  &__coins {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
  }
}
.preview-info {
  // .preview-info__wrapper
  &__wrapper {
    width: 100%;
    background-color: var(--primary);
    border-radius: 24px;
    padding: 11px 8px;
    position: relative;
    min-height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  // .preview-info__users
  &__users {
    width: calc(100% - 107px);
    padding-top: 17px;
    padding-left: 16px;
  }
  // .preview-info__users-title
  &__users-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }
  // .preview-info__users-position
  &__users-position {
    font-size: 54px;
    font-weight: 600;
    line-height: 1.2;
  }
  // .preview-info__users-count
  &__users-count {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 4px;
  }
  // .preview-info__image
  &__image {
    position: absolute;
    right: -24px;
    top: -20px;
    width: 164px;
    height: 305px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
