:root {
  --bg: #0a0a0a;
  --bg2: #1d1d1f;
  --disable: #545454;
  --text: #ffffff;
  --text2: #b4b4b4;
  --primary: #000aff;
  --accent: #f7bd07;
  --stroke: rgba(180, 180, 180, 0.4);
  --border-open-space: #9747ff;
  --gradient: linear-gradient(90deg, #006acc 24.36%, #7affe7 49.93%, #b59600 75.5%);
}

body[data-theme='dark'] {
}
